<!-- Spinner Start -->
<!-- <div id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->
<!-- Spinner End -->

<div class="container text-white">
  <div class="row g-5">
    <div class="col-lg-4 sticky-lg-top vh-100">
      <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
        <img class="w-100 img-fluid mb-4" src="assets/profile1.png" alt="Image">
        <h1 class="text-success mt-2">Kapil Ingle</h1>
        <div class="mb-4" style="height: 22px;">
          <h4 class="typed-text-output d-inline-block text-light"></h4>
          <div class="typed-text d-none">Angular Developer, Software Developer, Front End Developer
          </div>
        </div>
        <div class="d-flex justify-content-center mt-auto mb-3 profile-icon">
          <a class="btn my-secondary btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
          <a class="btn my-secondary btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="btn my-secondary btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn my-secondary btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="d-flex align-items-end justify-content-between my-btn">
          <a href="" class="text-light w-50 shadow-lg text py-2" (click)="downloadResume()">Download CV</a>
          <a href="#contact" class="text-light w-50 shadow-lg btn-scroll py-2">Contact Me</a>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <!-- About Start -->
      <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="title pb-3 mb-5">About Me</h1>
        <p class="text-white">A well-versed front-end developer, proficient in Angular, HTML/CSS and JavaScript having good exposure to web development practices, familiar to Component, Services, Pipes, Directive, Forms, Routing concept and Life cycle hook in Angular.</p>
        <div class="row mb-4">
          <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Name:</span> Kapil Ingle
          </div>
          <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Birthday:</span> 26 December 1996
          </div>
          <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Degree:</span> Bachelor of Engineering
          </div>
          <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Experience:</span> 3 Years
          </div>
          <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Mobile:</span> +91 9834959267
          </div>
          <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Email:</span> codingkapil&#64;gamil.com
          </div>
          <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Address:</span> Mumbai, Maharashtra
          </div>
          <!-- <div class="col-sm-6 py-1">
            <span class="fw-medium text-success">Freelance:</span> Available
          </div> -->
        </div>
        <div class="row g-4">
          <div class="col-md-4 col-lg-6 col-xl-4">
            <div class="d-flex my-secondary p-4">
              <h1 class="flex-shrink-0 display-5 fw-bold text-success mb-0" data-toggle="counter-up">03</h1>
              <div class="ps-3">
                <p class="mb-0">Years of</p>
                <h5 class="mb-0">Experience</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-6 col-xl-4">
            <div class="d-flex my-secondary p-4">
              <h1 class="flex-shrink-0 display-5 fw-bold text-success mb-0" data-toggle="counter-up">03</h1>
              <div class="ps-3">
                <p class="mb-0">Happy</p>
                <h5 class="mb-0">Clients</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-6 col-xl-4">
            <div class="d-flex my-secondary p-4">
              <h1 class="flex-shrink-0 display-5 fw-bold text-success mb-0" data-toggle="counter-up">05</h1>
              <div class="ps-3">
                <p class="mb-0">Complete</p>
                <h5 class="mb-0">Projects</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About End -->

      <!-- Skills Start -->
      <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="title pb-3 mb-5">Skills</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Angular</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">HTML</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Bootstrap</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Postman</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">SVN</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Javascript</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">CSS</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Angular Material</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Github</p>
              </div>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Skills End -->

      <!-- Expericence Start -->
      <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="title pb-3 mb-5">Expericence</h1>
        <div class="border-start border-2 border-light pt-2 ps-5">
          <div class="position-relative mb-4">
            <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
            <h5 class="mb-1">Angular Front End Developer</h5>
            <p class="mb-2">QLab Technologies Pvt Ltd, Bangalore. 
              | <small>Feb 2021 - Apr 2023</small></p>
            <p>I have been working on a Hotel monitoring and management project where I developed the user interface using Angular, HTML/CSS, and JavaScript. I have hands-on experience in creating reusable UI components with Angular, and I am proficient in using code versioning tools like GitHub. I was also involved in planning development strategies for the web page, studying the basic project requirements, and collaborating with the assigned technical lead to outline the necessary strategies.</p>
          </div>
          <div class="position-relative mb-4">
            <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
            <h5 class="mb-1">Associate Consultant</h5>
            <p class="mb-2">Infrasoft Technologies Limited | <small>Jul 2023 - Till now</small></p>
            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor
              dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam</p>
          </div>
          <!-- <div class="position-relative mb-4">
            <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
            <h5 class="mb-1">Web Designer</h5>
            <p class="mb-2">Soft Company | <small>2000 - 2050</small></p>
            <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor
              dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam</p>
          </div> -->
        </div>
      </section>
      <!-- Expericence End -->

      <!-- Subscribe Start -->
      <section class="wow fadeInUp" data-wow-delay="0.1s">
        <div class="my-secondary text-center p-5">
          <h1 class="text-white font-weight-bold">Subscribe My Newsletter</h1>
          <p class="text-white">Subscribe and get my latest article in your inbox</p>
          <div class="position-relative w-100">
            <input class="form-control my-bg-dark border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
            <button type="button"
              class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Subscribe</button>
          </div>
        </div>
      </section>
      <!-- Subscribe End -->

      <!-- Services Start -->
      <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="title pb-3 mb-5">Services</h1>
        <div class="row g-4">
          <div class="col-md-6">
            <div class="service-item">
              <i class="fa fa-2x fa-laptop-code mx-auto mb-4"></i>
              <h5 class="mb-2">Web Design</h5>
              <p class="mb-0">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem
                est amet labore</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <i class="fab fa-2x fa-android mx-auto mb-4"></i>
              <h5 class="mb-2">Apps Development</h5>
              <p class="mb-0">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem
                est amet labore</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <i class="fa fa-2x fa-search mx-auto mb-4"></i>
              <h5 class="mb-2">SEO</h5>
              <p class="mb-0">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem
                est amet labore</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <i class="fa fa-2x fa-edit mx-auto mb-4"></i>
              <h5 class="mb-2">Content Creating</h5>
              <p class="mb-0">Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem
                est amet labore</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Services End -->

      <!-- Portfolio Start -->
      <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="title pb-3 mb-5">Portfolio</h1>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 text-center mb-2">
                <ul class="list-inline mb-4" id="portfolio-flters">
                  <li class="btn btn-secondary me-2 active" data-filter="*"><i class="fa fa-star me-2"></i>All</li>
                  <li class="btn btn-secondary me-2" data-filter=".first"><i class="fa fa-laptop-code me-2"></i>Design</li>
                  <li class="btn btn-secondary" data-filter=".second"><i class="fa fa-mobile-alt me-2"></i>Development
                  </li>
                </ul>
              </div>
            </div>
            <div class="row portfolio-container">
              <div class="col-md-6 mb-4 portfolio-item first">
                <div class="position-relative overflow-hidden mb-2">
                  <img class="img-fluid w-100" src="assets/portfolio-1.jpg" alt="">
                  <div class="portfolio-btn d-flex align-items-center justify-content-center">
                    <a href="assets/portfolio-1.jpg" data-lightbox="portfolio">
                      <i class="bi bi-plus text-light"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 portfolio-item second">
                <div class="position-relative overflow-hidden mb-2">
                  <img class="img-fluid w-100" src="assets/portfolio-2.jpg" alt="">
                  <div class="portfolio-btn d-flex align-items-center justify-content-center">
                    <a href="assets/portfolio-2.jpg" data-lightbox="portfolio">
                      <i class="bi bi-plus text-light"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 portfolio-item first">
                <div class="position-relative overflow-hidden mb-2">
                  <img class="img-fluid w-100" src="assets/portfolio-3.jpg" alt="">
                  <div class="portfolio-btn d-flex align-items-center justify-content-center">
                    <a href="assets/portfolio-3.jpg" data-lightbox="portfolio">
                      <i class="bi bi-plus text-light"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 portfolio-item second">
                <div class="position-relative overflow-hidden mb-2">
                  <img class="img-fluid w-100" src="assets/portfolio-4.jpg" alt="">
                  <div class="portfolio-btn d-flex align-items-center justify-content-center">
                    <a href="assets/portfolio-4.jpg" data-lightbox="portfolio">
                      <i class="bi bi-plus text-light"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Portfolio End -->

      <!-- Testimonial Start -->
      <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="title pb-3 mb-5">Testimonial</h1>
        <div class="owl-carousel testimonial-carousel">
          <div class="text-left">
            <i class="fa fa-3x fa-quote-left text-success mb-4"></i>
            <p class="fs-4 mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore,
              stet justo sed est sed. Diam sed sed dolor stet accusam amet eirmod eos, labore diam clita</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/testimonial-1.jpg" style="width: 60px; height: 60px;">
              <div class="ps-3">
                <p class="text-success fs-5 mb-1">Client Name</p>
                <i>Profession</i>
              </div>
            </div>
          </div>
          <div class="text-left">
            <i class="fa fa-3x fa-quote-left text-success mb-4"></i>
            <p class="fs-4 mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore,
              stet justo sed est sed. Diam sed sed dolor stet accusam amet eirmod eos, labore diam clita</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/testimonial-2.jpg" style="width: 60px; height: 60px;">
              <div class="ps-3">
                <p class="text-success fs-5 mb-1">Client Name</p>
                <i>Profession</i>
              </div>
            </div>
          </div>
          <div class="text-left">
            <i class="fa fa-3x fa-quote-left text-success mb-4"></i>
            <p class="fs-4 mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore,
              stet justo sed est sed. Diam sed sed dolor stet accusam amet eirmod eos, labore diam clita</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid" src="assets/testimonial-3.jpg" style="width: 60px; height: 60px;">
              <div class="ps-3">
                <p class="text-success fs-5 mb-1">Client Name</p>
                <i>Profession</i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial End -->

      <!-- Contact Start -->
      <section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
        <h1 class="title pb-3 mb-5">Contact Me</h1>
        <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax &
          PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a class="text-success"
            href="https://htmlcodex.com/contact-form">Download Now</a></p>
        <form [formGroup]="contactUsForm" (ngSubmit)="sendEmail()">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control border-0 my-secondary text-white" id="name" placeholder="Your Name" formControlName="name">
                <label for="name">Your Name</label>
              </div>
              @if(contactUsForm.controls['name'].invalid && contactUsForm.controls['name'].touched){
                <small class="ms-3 text-danger">Please enter your name</small>
              }
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control border-0 my-secondary text-white" id="email" placeholder="Your Email"formControlName="email">
                <label for="email">Your Email</label>
              </div>
              @if(contactUsForm.controls['email']?.hasError('required') && contactUsForm.controls['name'].touched){
                <small class="ms-3 text-danger">Please enter your email</small>
              }
              @if(contactUsForm.controls['email']?.hasError('email') && contactUsForm.controls['name'].touched){
                <small class="ms-3 text-danger">Please enter valid email</small>
              }
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input type="text" class="form-control border-0 my-secondary text-white" id="subject" placeholder="Subject" formControlName="subject">
                <label for="subject">Subject</label>
              </div>
              @if(contactUsForm.controls['subject'].invalid && contactUsForm.controls['subject'].touched){
                <small class="ms-3 text-danger">Please enter your name</small>
              }
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea class="form-control border-0 my-secondary text-white" placeholder="" id="message"
                  style="height: 200px" formControlName="msg"></textarea>
                <label for="message">Message</label>
              </div>
              @if(contactUsForm.controls['msg'].invalid && contactUsForm.controls['msg'].touched){
                <small class="ms-3 text-danger">Please enter your name</small>
              }
            </div>
            <div class="col-12">
              <button class="btn btn-success w-100 py-3" type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </section>
      <!-- Contact End -->

      <!-- Footer Start -->
      <section class="wow fadeIn" data-wow-delay="0.1s">
        <div class="my-secondary text-light text-center p-5">
          <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-dark btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <a class="text-light px-3 border-end" href="#">Privacy</a>
            <a class="text-light px-3 border-end" href="#">Terms</a>
            <a class="text-light px-3 border-end" href="#">FAQs</a>
            <a class="text-light px-3" href="#">Help</a>
          </div>

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          <p class="m-0">&copy; All Rights Reserved. Designed by <a href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
      </section>
      <!-- Footer End -->
    </div>
  </div>
</div>


<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/typed/typed.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script> -->

<!-- Contact Javascript File -->
<!-- <script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script> -->

<!-- Template Javascript -->
<!-- <script src="js/main.js"></script> -->